*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-image: linear-gradient(to right, rgb(0, 204, 255) , rgb(0, 60, 255));
}

.black {
    color: rgb(58, 58, 58);
}

.black a {
    color: rgb(128, 128, 128);
    text-decoration: underline;
}

h1{
    color: rgb(199, 199, 199);
    text-align: center;
    padding-top: 5%;
}

.box{
    width: 100%;
    padding: 5% 3%;
    max-height: 400px;
    height: 100%;
}

.box div {
    width: 50%;
    color: white;
}

.image {
    float: right;
    text-align: center;
}

.image img {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

.text {
    float: left;
    text-align: justify;
}

@media screen and (max-width:968px) {
    .box div {
        width: 100%;
    }
    .image img {
        width: 100%;
        max-width: 300px;
    }
    .image img:nth-child(2) {
        display: none;
    }
}
